# Project exclude paths

# CLion created directories
/.idea/
/meson-build-debug/

# python enviroment
venv/

# various build files
*.so
dist/
sente.egg-info/
build/

# documentation
docs/_build/
docs/_generate/
docs/sente.egg-info
docs/locale/

# GTP examples
cgtc-2.0.1/